<section class="hiw-section section" id="howitworks">
  <div class="hiw-container container">
    <div class="hiw-image-wrap">
      <picture>
        <!-- desctop 1280 -->
        <source media="(min-width: 1280px)" srcset="
              /img/3-how_it_works/img-desk@1x.png 1x,
              /img/3-how_it_works/img-desk@2x.png 2x">
        <!-- tablet 768 -->
        <source media="(min-width: 768px)" srcset="
              /img/3-how_it_works/img-tab@1x.png 1x,
              /img/3-how_it_works/img-tab@2x.png 2x">
        <!-- mobile 320 -->
        <source media="(min-width: 320px)" srcset="
              /img/3-how_it_works/img-mob@1x.png 1x,
              /img/3-how_it_works/img-mob@2x.png 2x">
        <img class="hiw-image" src="/img/3-how_it_works/img-mob@1x.png" alt="how it works" width="335" height="450"
          loading="lazy">
      </picture>
    </div>
    <div class="hiw-content-wrap">
      <h2 class="visually-hidden"></h2>
      <h3 class="hiw-content-title">To order your
        <span class="title-accent">vegetable</span>
        basket, simply follow these
        <span class="title-accent">easy steps</span>
      </h3>
      <p class="hiw-content-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever
        leaving your home.
      </p>
      <ol class="hiw-content-list">
        <li class="hiw-content-item">
          <p class="hiw-content-item-desc">
            Just choose
            <span class="hiw-content-item-accent">
              the vegetable
            </span>
            you want to order by clicking on the checkboxes
            <span class="hiw-content-item-accent">
              next to it</span>.
          </p>
        </li>
        <li class="hiw-content-item">
          <p class="hiw-content-item-desc">
            Click on
            <span class="hiw-content-item-accent">
              the basket
            </span>
            and fill out the form.
          </p>
        </li>
        <li class="hiw-content-item">
          <p class="hiw-content-item-desc">
            Sit back and relax! Your
            <span class="hiw-content-item-accent">
              fresh vegetables
            </span>
            basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>