<section class="vegetables-section section" id="vegetables">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">
      Organic
      <span class="vegetables-title-accent">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-captain">eggplant</h3>
        <p class="vegetables-item-desc">50 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
               /img/5-vegetables/img1-mob@1x.png 1x,
               /img/5-vegetables/img1-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
               /img/5-vegetables/img1-td@1x.png 1x,
               /img/5-vegetables/img1-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img1-mob@1x.png" alt="eggplant" 
              width="282" height="196" loading="lazy">
        </picture>
      </li>
      <li class="vegetables-item">

        <h3 class="vegetables-item-captain">leek</h3>
        <p class="vegetables-item-desc">60 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
               /img/5-vegetables/img2-mob@1x.png 1x,
               /img/5-vegetables/img2-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
                  /img/5-vegetables/img2-td@1x.png 1x,
                  /img/5-vegetables/img2-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img2-mob@1x.png" alt="leek" 
             width="282" height="196" loading="lazy">
        </picture>
      </li>
      <li class="vegetables-item">

        <h3 class="vegetables-item-captain">mushrooms</h3>
        <p class="vegetables-item-desc">40 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
              /img/5-vegetables/img3-mob@1x.png 1x,
              /img/5-vegetables/img3-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
                /img/5-vegetables/img3-td@1x.png 1x,
                /img/5-vegetables/img3-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img3-mob@1x.png" alt="mushrooms" 
            width="282" height="196" loading="lazy">
        </picture>
      </li>
      <li class="vegetables-item">

        <h3 class="vegetables-item-captain">corn</h3>
        <p class="vegetables-item-desc">60 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
                /img/5-vegetables/img4-mob@1x.png 1x,
                /img/5-vegetables/img4-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
                /img/5-vegetables/img4-td@1x.png 1x,
                /img/5-vegetables/img4-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img4-mob@1x.png" alt="corn" 
             width="282" height="196" loading="lazy">
        </picture>
      </li>
      <li class="vegetables-item">

        <h3 class="vegetables-item-captain">sweet potatoes</h3>
        <p class="vegetables-item-desc">50 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
                /img/5-vegetables/img5-mob@1x.png 1x,
                /img/5-vegetables/img5-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
                /img/5-vegetables/img5-td@1x.png 1x,
                /img/5-vegetables/img5-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img5-mob@1x.png" alt="potatoes" 
             width="282" height="196" loading="lazy">
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-captain">carrot</h3>
        <p class="vegetables-item-desc">40 UAH / kg</p>
        <picture>
          <!-- mobile 320 -->
          <source media="(min-width: 320px)" srcset="
                /img/5-vegetables/img6-mob@1x.png 1x,
                /img/45-egetables/img6-mob@2x.png 2x">
          <!-- tablet 768 -->
          <source media="(min-width: 768px)" srcset="
                /img/5-vegetables/img6-td@1x.png 1x,
                /img/5-vegetables/img6-td@2x.png 2x">
          <img class="vegetables-img" src="/img/5-vegetables/img6-mob@1x.png" alt="carrot" 
             width="282" height="196" loading="lazy">
        </picture>
      </li>
    </ul>
  </div>
</section>