.hero-section {
  background-color: #576f35;
}

.hero-container {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero-container {
    min-height: 902px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    height: 800px;
    display: flex;
  }
}

.hero-content {
  margin-bottom: 40px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .hero-content {
    margin-bottom: 50px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-content {
    width: 50%;
    padding-left: 100px;
    padding-top: 300px;
  }
}

.hero-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;

  max-width: 335px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 76px;

    max-width: 705px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 502px;
    margin-bottom: 128px;
  }
}

.hero-text {
  line-height: 1.29;
  max-width: 335px;
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 16px;
    line-height: 1.25;

    max-width: 603px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 472px;
  }
}

.hero-background {
  width: 100%;
  height: 370px;

  background-image: image-set(
    url(/img/2-hero/bg-mob@1x.jpg) 1x,
    url(/img/2-hero/bg-mob@2x.jpg) 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-background {
   height: 539px;
    background-image: image-set(
      url(/img/2-hero/bg-tab@1x.jpg) 1x,
      url(/img/2-hero/bg-tab@2x.jpg) 2x
    );
  }
}
@media screen and (min-width: 1280px) {
  .hero-background {
    width: 50%;
    background-image: image-set(
      url(/img/2-hero/bg-desk@1x.jpg) 1x,
      url(/img/2-hero/bg-desk@2x.jpg) 2x
    );
  }
}
