.hiw-section {
   background-color: #576f35;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
}
.hiw-container {
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .hiw-container {
    display: flex;
  }
}

.hiw-image-wrap {
  background-color: #7a3145;
  padding: 40px 20px;

}
@media screen and (min-width: 768px) {
  .hiw-image-wrap {
    padding: 100px 64px;
  }
}
@media screen and (min-width: 1280px) {
  .hiw-image-wrap {
    padding: 100px;
    width: 50%;
  }
}

.hiw-image {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;

  background: linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30) 100%), url(<path-to-image>) lightgray -205.954px 0px / 222.958% 110.667% no-repeat;
}

.hiw-content-wrap {
  background-color: #576f35;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hiw-content-wrap {
    padding: 100px 159px;
  }
}
@media screen and (min-width: 1280px) {
  .hiw-content-wrap {
    padding: 159px 100px;
    width: 50%;
  }
}

.hiw-content-title {
  max-width: 335px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hiw-content-title {
    max-width: 450px;
    margin-bottom: 25px;

    font-size: 32px;
  }
}

.title-accent {
  color: rgba(251, 251, 251, 0.3);
}

.hiw-content-text {
  line-height: 1.28;

  max-width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hiw-content-text {
    font-size: 16px;
    line-height: 1.25;

    max-width: 450px;
    margin-bottom: 50px;
  }
}

.hiw-content-list {
  max-width: 335px;
  counter-reset: item;
}
@media screen and (min-width: 768px) {
  .hiw-content-list {
    max-width: 450px;
  }
}
.hiw-content-item {
  color: rgba(20, 20, 20, 0.6);
  background-color: #fbfbfb;
  padding: 12px 24px;
  border-radius: 15px;

  display: flex;
  gap: 24px;
  align-items: center;
}
.hiw-content-item:not(:last-child) {
  margin-bottom: 20px;
}
.hiw-content-item::before {
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 50%;
  border: 5px solid rgb(245 215 223 / 71%);

  content: counter(item) '';
  counter-increment: item;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  color: #fbfbfb;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}

.hiw-content-item-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.hiw-content-item-accent {
  color: #141414;
}

@media screen and (min-width: 768px) {
  .hiw-content-item-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}
