.order-section {
  background-color: #7a3145;
}

.order-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .order-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  text-transform: uppercase;

  width: 100%;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .order-title {
    font-size: 64px;
    line-height: 1;

    width: 640px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .order-title {
    width: 751px;
  }
}

.order-title-accent {
  color: rgba(251, 251, 251, 0.3);
}

.order-text {
  line-height: 1.29;

  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .order-text {
    font-size: 16px;
    line-height: 1.25;

    width: 640px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .order-text {
    width: 742px;
  }
}

@media screen and (min-width: 1280px) {
  .order-wrapper {
    display: flex;
    gap: 24px;
  }
}

.order-input-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .order-input-form {
    padding: 50px 100px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .order-input-form {
    width: 50%;
    padding: 50px;
    margin: 0;
  }
}
.form-title {
  color: #141414;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  text-transform: uppercase;

  margin-bottom: 40px;
}
.form-title-accent-red {
  color: #7a3145;
}
.form-title-accent-green {
  color: #576f35;
}

.input,
.textarea {
  width: 100%;
  height: auto;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 14px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;

  transition: border-color 0.3s ease;
  margin-top: 15px;
}
.input::placeholder,
.textarea::placeholder {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.textarea {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .input,
  .textarea {
    padding: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .textarea {
    margin-bottom: 25px;
  }
}

.input:focus,
.textarea:focus {
  border: 1px solid #7a3145;
  scale: 110%;
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translateY(-5px);
}
.input:not(:placeholder-shown):valid,
.textarea:not(:placeholder-shown):valid {
  border-color: green;
}

.input:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}

.text-valid,
.text-invalid {
  display: none;
  font-size: 10px;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.input:not(:placeholder-shown):valid ~ .text-valid,
.input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
  background-color: #576f35;
  width: 100%;
  border-radius: 30px;
  padding: 16px 120px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .form-btn {
    padding: 16px 191px;
  }
}
@media screen and (min-width: 1280px) {
  .form-btn {
    width: 429px;
  }
}
.form-btn:hover {
  filter: brightness(1.5);
  transition: 200ms;
}

.order-social {
  background-color: #576f35;
  border-radius: 30px;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .order-social {
    padding: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .order-social {
    width: 50%;
  }
}

.order-social-img {
  width: 100%;
  border-radius: 15px;
  background-color: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.3) 0%,
      rgba(20, 20, 20, 0.3) 100%
    ),
    url(<path-to-image>) lightgray -36.221px -42.887px / 167.158% 122.975%
      no-repeat;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .order-social-img {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .order-social-img {
  }
}
.order-social-text {
  color: rgba(251, 251, 251, 0.5);
  font-weight: 600;
  line-height: 1.29;

  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .order-social-text {
    font-size: 18px;
    line-height: 1.11;

    margin-bottom: 15px;
  }
}
.order-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .order-social-list {
    gap: 12px;
  }
}

.order-social-link,
.social-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
}
@media screen and (min-width: 768px) {
  .order-social-link,
  .social-desc {
    font-size: 32px;
    line-height: 1;
  }
}
.order-social-link:hover {
  --lightss: #973b3b;
  text-shadow: 0 0 0.5vh var(--lightss), 0 0 0.5vh var(--lightss),
    0 0 0.5vh var(--lightss), 0 0 0.5vh var(--lightss), 0 0 1vh var(--lightss);
  animation: flicker 7s infinite;
  filter: brightness(1);
}
