html {
  scroll-behavior: smooth;
}

body {
  color: #fbfbfb;
  
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.015em;
  
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  min-width: 320px;
  max-width: 375px;

  margin: 0 auto;
  padding: 0 20px;
  
  outline: 1px solid red;
  outline-offset: -1px;
}

@media screen and (min-width: 768px) {
  .body {
    font-size: 16px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width:  1280px;
    padding: 0 100px;
  }
}
